<table class="table">
    <thead>
        <th>Name</th>
        <th>Length</th>
        <th>Venomous</th>
    </thead>
    <tbody>
        {% for snake in all_snakes %}
        <tr>
            <td><a class="seeSnake" href="/getsnake/{{snake.id}}">{{snake.name}}</a></td>
            <td>{{snake.length}} feet</td>
            <td>
                {% if snake.venomous == True %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>